.pr-card {
    $padding: 8px;
    position: relative;

    padding: $padding;
    margin: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background: #F1FAEE;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    max-height: 90px;

    &.open {
        max-height: 200px;
    }
    & svg {
        padding: 8px;
        fill: #86DC3D;
    }
    &:hover {
        background: rgb(240, 240, 240);
    }
}

.pr-card-chip {
    border-radius: 12px;
    margin-left: 8px;
    color: white;
    padding: 2px 8px;
    line-height: 1;

    &.open {
        background: rgb(95, 248, 95);
    }
    &.auto-merge {
        background: #7269c4;
    }
}


.pr-card-github-link {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: x-large;
    color: black;
    opacity: 0.3;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        opacity: 0.5;
    }
}