$dotSize: 18px;

#dots-loading-indicator {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.dot {
    position: relative;
    bottom: 0;
    width: $dotSize;
    height: $dotSize;
    background: #f1faee;
    margin: 8px;
    border-radius: 100%;
    animation: bounce 1s infinite;
}

#dot-one {
    animation-delay: 0s
}

#dot-two {
    animation-delay: .1s
}

#dot-three {
    animation-delay: .2s
}

@keyframes bounce {
    0% { bottom: 0px; }
    20%  { bottom: $dotSize; }
    40%  { bottom: 0px; }
}