#provide-repo-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > input {
        outline: none;
        width: 50%;
        padding: 18px;
        font-size: x-large;
        border-radius: 60px;
        border: none;
        box-shadow: inset 0 0 10px 2px #ccc;
    }
}
   
#provide-repo-screen-submit {
    $transition: 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);

    margin-top: 64px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: #1d3557;
    outline: none;
    border: none;
    font-size: larger;
    color: white;
    user-select: none;
    box-shadow: 0px 0px 10px #0007;

    & #title {
        font-size: inherit;
        font-weight: 100;
        letter-spacing: 1px;
        transition: transform $transition;
        left: 64px;
        z-index: 10;
        position: absolute;
    }

    & #icon {
        position: absolute;
        left: 24px;
        transition: left $transition, transform $transition;
        z-index: 10;
    }

    &:hover {
        &:after, &:before {
            bottom: 150%;
        }
        & #title {
            transform: translateX(200px);
        }
        & #icon {
            left: 50%;
            transform: translateX(-50%) scale(1.5);
        }
    }
    
    &:after, &:before {
        content: " ";
        position: absolute;
        height: 400px;
        width: 400px;
        bottom: 70%;
        right: 50%;
        transform: translate(50%, 0);
        border-radius: 40%;
        transition: all .5s;
    }
    &:after {
        background-color: lighten(#1d3557, 15%);
        animation: wave 5s infinite linear;
    }
    &:before {
        background-color: lighten(#1d3557, 30%);
        animation: wave 12s infinite linear;
    }
}

@keyframes wave {
    from {
        transform: translate(50%, 0) rotate(0deg);
    }
    to {
        transform: translate(50%, 0) rotate(360deg);
    }
}