.pr-family {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #a8dadc;
    padding: 8px;
    margin: 8px;
    margin-bottom: 0;
    transition: all .5s ease-in-out;
    & h1 {
        text-align: center;
    }
    &:nth-child(1) {
        margin-left: 0;
    }
    &.important {
        background: #e63946;
    }
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}